@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	box-sizing:  border-box;
	font-family: 'Open Sans', sans-serif;
	font-size:   14px;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}
