/* Úr vaktir/grunnur-vaktatafla.html */
tbody tr td { vertical-align: top; }
th.dagur {  text-align: left; border: thin solid green; border-left-width: 1em; }
th.timabil { background-color: darkblue; color: lightblue; padding: .2em; font-size: small; }
th.heild_timabils { background-color: lightblue; color: darkblue; padding: .2em; font-size: small; }
td { height: 3.6em; width: 3.6em; }
.vakt.vakttegund-1 { background-color: #eed; }
.vakt.vakttegund-1.active { background-color: #ddc; }
.vakt.vakttegund-1.hover{ background-color: #ccb; }
.vakt.vakttegund-2 { background-color: #eee; }
.vakt.vakttegund-2.active { background-color: #ddd; }
.vakt.vakttegund-2.hover { background-color: #ccc; }
.vakt.vakttegund-3 { background-color: #eef; }
.vakt.vakttegund-3.active { background-color: #dde; }
.vakt.vakttegund-3.hover { background-color: #ccd; }
.ekkivakt { background-color: white; }
.fyrstathanndag { border: 0px solid black; border-left-width: 1em; }
.skraning-icon { cursor: grab; }

/* Úr vaktir/skraning.html */
.valin { border: 2px solid green; width: calc(3.6em - 4px); height: calc(3.6em - 4px); }
.valin, .ovalin { background-color: red; }
