{% extends "grunnur.html" %}
{% load staticfiles %}

{% block stilar %}
{% endblock %}

{% block atburdarit %}
<script type="text/javascript">

$( init );

function init() {

/* Þegar við smellum á td.vakt breytist á milli "ovalin" og "valin",
starfsstöðvalistinn breytist á milli þess að sjást og ekki, og valmöguleikarnir
virkjast eða óvirkjast.
*/
$('tr').on('click','.vakt.ovalin',function() {
	//console.log('ovalin vakt valin')
	$('.timabil-'+$(this).data('timabil')).removeClass('ovalin').addClass('timabil-valid');
	$('.timabil-'+$(this).data('timabil')).children('input').attr('name', '');
	$(this).addClass('valin');
	$(this).children('input').attr('name','vaktir');
});
$('tr').on('click','.vakt.timabil-valid',function() {
	//console.log('vakt á völdu tímabili valin')
	$('.timabil-'+$(this).data('timabil')).removeClass('valin').addClass('timabil-valid');
	$('.timabil-'+$(this).data('timabil')).children('input').attr('name', '');
	$(this).addClass('valin');
	$(this).children('input').attr('name','vaktir');
});
$('tr').on('click','.vakt.valin',function() {
	//console.log('valin vakt valin')
	$('.timabil-'+$(this).data('timabil')).removeClass('valin timabil-valid').addClass('ovalin');
	$('.timabil-'+$(this).data('timabil')).children('input').attr('name', '');
});

/* Gætum þess að smellur á starfsstöðvarlistann sé ekki túlkaður sem smellur á
vaktina (sem mundi þá af-velja hana).
*/
//$('.starfsstodvar').click(function(event) {
//	event.stopPropagation();
//});

}
</script>
{% endblock %}

{% block body %}
<div id="leidbeiningar">
<p>Veldu þér vinnudaga með því að semella á vaktirnar. Ef þú ert óviss með starfsstöð skaltu bara skrá þig á Malarhöfðann og við finnum góðan stað fyrir þig. Við reynum að koma til móts við séróskir (t.d. ef fólk vill vera í sinni heimabyggð eða á vakt með félögum) en við gætum þurft að færa einhverja til til að ná að fullmanna alla sölustaði.</p>
<p>Fylltu svo inn persónuupplýsingarnar þínar og smelltu á vista; þá á skráningin að vera komin.</p>
</div>
<form method="post" style="margin-top: 1em;" action="/vaktir/skra">{% csrf_token %}
<table>
	<thead>
	<tr>
		<th class="starfsstod" rowspan="3">Starfsstöð</th>
		{% for dt in dagatimabil %}
		<th class="dagur" colspan="{{ dt.fjoldi_timabila }}">{{ dt.dagur | date:"M/d" }}</th>
		{% endfor %}
	</tr>
	<tr>
		{% for timabilid in timabilin %}
			<th class="timabil">{{ timabilid.hefst | date:"H" }}-{{ timabilid.lykur| date:"H" }}</th>
		{% endfor %}
	</tr>
	<tr>
		{% for timabilid in timabilin %}
			<th class="heild_timabils">{{ timabilid.skraningar }} / {{ timabilid.lagmark }}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for sd in starfsstodvalisti %}
		<tr>
			<th class="starfsstod">{{ sd.starfsstod }}</th>
			{% for vakt in sd.vaktir %}
				<td class="{% if vakt %}vakt ovalin vakttegund-{{ vakt.tegund.id }}{% else %}ekkivakt{% endif %} timabil-{{ vakt.timabil.id }}" data-timabil="{{ vakt.timabil.id }}">
					<input type="hidden" name="" value="{{ vakt.id }}">
<!--
					<select name="vaktir" class="starfsstodvar" style="display:none; width: 3.4em;" disabled>
						{% for starfsstod in starfsstodvalisti %}
						<option value="{{ vakt.id }}"
						{% if vakt.skraningar >= vakt.hamark and vakt.hamark != 0 %}disabled{% endif %}
						>{{ starfsstod.starfsstod }}</option>
						{% endfor %}
					</select>
-->
				</td>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>

	<input type="text" name="nafn" placeholder="Nafn" />
	<input type="text" name="simi" placeholder="Símanúmer" />
	<input type="text" name="netfang" placeholder="Tölvupóstfang" />
	<br />
	<textarea name="aths" placeholder="Athugasemdir" cols="80"></textarea>
	<br />
	<input type="submit" name="flettaupp" value="Fletta upp skráningu" />
	<input type="submit" name="submit" value="Vista skráningu" />
</form>

{% endblock %}
