{% extends "grunnur.html" %}
{% load staticfiles %}

{% block stilar %}
{% endblock %}

{% block atburdarit %}
<!-- Þetta var hugmynd til að nota svona identicon í stað hringjanna... -->
<!-- <script src="{% static "js/require.js" %}"></script> -->
<!--<script src="{% static "js/smoothie-master/standalone/require.js" %}"></script>-->
<!--<script src="{% static "js/identicon-github/index.js" %}"></script>-->
<script type="text/javascript">

$( init );

function init() {

/* Þegar við smellum á td.vakt breytist á milli "ovalin" og "valin",
starfsstöðvalistinn breytist á milli þess að sjást og ekki, og valmöguleikarnir
virkjast eða óvirkjast.
*/
$('.vakt').click(function() {
	$(this).toggleClass('valin ovalin');
	$(this).find('.starfsstodvar').toggle();
	if ($(this).hasClass('valin')) {
        $(this).find('.starfsstodvar').prop('disabled', false);
    }
    else {
        $(this).find('.starfsstodvar').prop('disabled', true);
    }
});

/* Gætum þess að smellur á starfsstöðvarlistann sé ekki túlkaður sem smellur á
vaktina (sem mundi þá af-velja hana).
*/
$('.starfsstodvar').click(function(event) {
	event.stopPropagation();
});

}
</script>
{% endblock %}

{% block body %}
<div id="leidbeiningar">
<p>Veldu þér vinnudaga með því að semella á vaktirnar. Þú getur valið þér starfsstöð með því að tilgreina hana í fellilistanum sem birtist. Athugaðu að það er ekki öruggt að enda á þeim starfsstað; mögulega gæti þurft að færa fólk til, t.a.m. ef valda starfsstöðin hefur náð lágmarki sínu og starfskrafta vantar annað.</p>
<p>Þegar ákveðnu hámarki er náð, lokast fyrir skráningu.</p>
<p>Fylltu svo inn persónuupplýsingarnar þínar og smelltu á vista; þá á skráningin að vera komin.</p>
</div>
<form method="post" style="margin-top: 1em;" action="/vaktir/skra">{% csrf_token %}
<table>
	<thead>
	<tr>
		{% for dagur in dagar %}
		<th class="dagur" colspan="{{ dagur.timabil|length }}">{{ dagur.dagur | date:"M/d" }}</th>
		{% endfor %}
	</tr>
	<tr>
		{% for dagur in dagar %}
			{% for timabil in dagur.timabil %}
			<th class="timabil">{{ timabil.timabil }}</th>
			{% endfor %}
		{% endfor %}
	</tr>
	<tr>
		{% for dagur in dagar %}
			{% for timabil in dagur.timabil %}
				<th class="heild_timabils">{{ timabil.skraningar }} / {{ timabil.lagmark }}</th>
			{% endfor %}
		{% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for dagur in dagar %}
			{% for timabil in dagur.timabil %}
				<td class="vakt ovalin" style="background-color: {{ timabil.litur }}; overflow: hidden;">
				<select name="vaktir" class="starfsstodvar" style="display:none; width: 3.4em;" disabled>
						{% for vakt in timabil.vaktir %}
						<option value="{{ vakt.vakt.id }}"
						{% if vakt.skraningar >= vakt.hamark and vakt.hamark != 0 %}disabled{% endif %}
						>{{ vakt.vakt.starfsstod }}</option>
						{% endfor %}
					</select>
				</td>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>

	<input type="text" name="nafn" placeholder="Nafn" />
	<input type="text" name="simi" placeholder="Símanúmer" />
	<input type="text" name="netfang" placeholder="Tölvupóstfang" />
	<br />
	<textarea name="aths" placeholder="Athugasemdir" cols="80"></textarea>
	<br />
	<input type="submit" name="flettaupp" value="Fletta upp skráningu" />
	<input type="submit" name="submit" value="Vista skráningu" />
</form>

{% endblock %}
