<html>
<head>
<style>
	.vakt { background-color: #eee; }
	.ekkivakt { background-color: white; }
</style>
</head>
<body>

<table>
	<thead>
	<tr style="border: 1px solid green;">
		<th rowspan="2">Starfsstöð</th>
		{% for dagur in dagalisti %}
		<th colspan="{{ timabilalisti|length }}" style="text-align: left; border: thin solid green; border-left-width: 1em; ">{{ dagur | date:"M/d" }}</th>
		{% endfor %}
	</tr>
	<tr style="border: 1px solid red;">
		{% for dagur in dagalisti %}
			{% for tb in timabilalisti %}
			<th>{{ tb }}</th>
			{% endfor %}
		{% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for starfsstod, dagar in starfsstodvar.items %}
		<tr style="vertical-align: top;">
			<th>{{ starfsstod }}</th>
			{# for dagur, timabil in dagar.items #}
			{% for timabil in dagar %}
				{% for tb, vaktskraning in timabil.items %}
				<td {% if forloop.first %}style="border: 0px solid black; border-left-width: 1em;"{% endif %}
					class="{% if vaktskraning.vaktin %}vakt{% else %}ekkivakt{% endif %}"
				><!--{{ tb }}<br />-->
					{% if vaktskraning.vaktin %}
						{{ vaktskraning.skraningar.count }} / {{ vaktskraning.vaktin.lagmark }}<br />
						{% for skraning in vaktskraning.skraningar %}
							<span title="{{ skraning }}">&ocir;</span>
						{% endfor %}
					{% endif %}
				</td>
				{% endfor %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>
