<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<!--<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>-->
{% block atburdarit %}{% endblock %}

<link rel="stylesheet" href="{% static "css/eldar.css" %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.min.css" />

{% block stilar %}{% endblock %}

<link rel="icon" type="image/png" href="{% static "img/hssr-logo-16px.png" %}" />
</head>
<body>

<header style="vertical-align: middle;">
{% block haus %}
<h1>
<img src="{% static "img/hssr-logo-32px.png" %}" alt="HSSR"/>
{% block h1-texti %}{% endblock %}</h1>

{% endblock %}

{% block filter %}

{% endblock %}
</header>


<footer>

{% block body %}{% endblock %}
</body>
</html>
