.wrapper {
	position: absolute;
	z-index:  999;
	left: 0;
	right: 0;
}

.main {
	background-color: #6084b2;
	border-radius:    5px;
	opacity:          0.6;
	padding:          10px;
	box-sizing:       border-box;
	transition:       opacity 0.2s ease-in;
	cursor:           pointer;
	height:           100%;
}

.main:hover {
	opacity: 0.8;
}

.info {
	color:       white;
	font-weight: bold;
	font-size:   16px;
	text-align:  center;
}



.editWrapper:after {
	position:  absolute;
	content:   '';
	display:   block;
	left:      50%;
	bottom:    -40px;
	transform: translateX(-50%);
	border:    20px solid transparent; border-top-color: #a3cbfe;
	width:     0; height: 0;
	z-index:   9999;
}

